[Desktop Entry]
Type=Application
Name=Agent-GUI
Comment=Agent-GUI
NoDisplay=false
Exec=/usr/bin/lxterminal -e /home/pi/agent-gui/src/agent-gui.py
NotShowIn=GNOME;KDE;XFCE;
